<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>login page</title>
    <link rel="stylesheet"
          th:href="@{'/bootstrap/css/bootstrap.min.css'}"/>
    <style>
        #container {
            width: 600px;
            margin: 10px auto;
        }
    </style>
</head>
<body>

<div id="container">
    <h2>Login failed</h2>
    <h3 class="font-bold">Username or password entered incorrectly</h3>

    <div class="error-desc">
        Not logged in...
        <br/>You can go back and re-enter
        <br/><a href="/index" class="btn btn-primary m-t">login</a>
    </div>
</div>
</body>
</html>


