<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>权限页面</title>
    <link rel="stylesheet"
          th:href="@{'/bootstrap/css/bootstrap.min.css'}"/>
    <style>
        #container {
            width: 600px;
            margin: 10px auto;
        }
    </style>
</head>
<body>

<div id="container">
    <h2>no access right</h2>
    <h3 class="font-bold">you can't access this page</h3>

    <div class="error-desc">
       please contact the admin
        <br/>or using the corresponding role
    </div>
</div>
</body>
</html>


